<div class="page-header">
  <h3>Search Result</h3>
</div>
<div class="row">
  <% @products.each do |product| %>

      <div class="col-sm-4 col-lg-4 col-md-4">
        <a href="<%= product_path(product) %>">
          <div class="thumbnail">
            <img src=" <%= product.image.url.nil? ? product.image.url : 'http://placehold.it/320x200&text=' + product.name %>" alt="">
            <div class="caption">

              <h4><a href="<%= product_path(product) %>"><%= product.name.titleize %></a></h4>
              <button type="submit" class="btn btn-success pull-right"><i class="fa fa-shopping-cart fa-lg"></i> Add to cart</button>
              <h3 class="text-warning"><sup>MVR</sup> <%=number_with_precision(product.price, precision: 2) %></h3>
            </div>
          </div>
        </a>
      </div>

  <% end %>
</div>