<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Fast Food</title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag "application" %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <%= csrf_meta_tags %>
  <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Fast Food</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <button type="submit" class="btn btn-success">Sign in</button>
        <button type="submit" class="btn btn-warning">Sign up</button>
      </form>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-3">
      <p class="text-center">
        <a href="#">
          <img alt="Brand" style="height:150px" src="#">
        </a>
      </p>
      <hr>
      <form class="form-inline" style="margin-bottom:10px;">
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="What are you looking for">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
      <hr>


      <div class="list-group">
        <p class="list-group-item active">
          Menu
        </p>
		<% Category.main.each do |cat| %>
			<a href="<%= category_path(cat) %>" class="list-group-item"> <p style="margin:0" class="<%= 'text-primary' if current_page?(category_path(cat)) %>"><%= cat.name.titleize %></p></a>
			<% if cat.subcategories.any? %>
				<% sub = cat.subcategories %>				
				<% sub.each do |s| %>
					<a href="<%= category_path(s) %>" class="list-group-item"> <p style="margin:0" class="<%= 'text-primary' if current_page?(category_path(s)) %>"><span class="fa fa-chevron-right"></span> <%= s.name.titleize %></p></a>
				<% end %>
			<% end %>
		<% end %>
	  </div>



    </div>

    <div class="col-md-9">
      <div class="row carousel-holder">

        <div class="col-md-12">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img class="slide-image" src="http://placehold.it/800x300&text=First%20Slide" alt="">
              </div>
              <div class="item">
                <img class="slide-image" src="http://placehold.it/800x300&text=Second%20Slide" alt="">
              </div>
              <div class="item">
                <img class="slide-image" src="http://placehold.it/800x300&text=Third%20Slide" alt="">
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="fa fa-chevron-left fa-lg" style="position: absolute; top:48%; left:15%;" aria-hidden="true"></span>
			  <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="fa fa-chevron-right fa-lg" style="position: absolute; top:48%; right:15%;" aria-hidden="true"></span>
			  <span class="sr-only">Previous</span>
            </a>
          </div>
        </div>

      </div>

      <%= yield %>

    </div>

  </div>

</div>
<!-- /.container -->

<div class="container">

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Your Website 2014</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->


</body>

</html>

